<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Page</title>
</head>

<body>
    <%= require('html-loader!./sections/header.html') %>
    <%= require('html-loader!./sections/hero.html') %>

    <div class="main-content">
        <%= require('html-loader!./sections/steps.html') %>

        <aside class="contact">
            <%= require('html-loader!./partials/contact-message.html') %>
            <%= require('html-loader!./partials/contact-form.html') %>
        </aside>
    </div>

    <%= require('html-loader!./sections/testimonial.html') %>

    <footer class="footer">
        <%= require('html-loader!./partials/contact-message.html') %>
    </footer>
</body>

</html>